<footer class="footer">
	<div class="footer-content">
	  <div class="newsletter-column">
	    <div class="newsletter-input">
	      <input type="email" placeholder="Subscribe to our newsletter">
	      <button class="subscribe-button" (click)="subscribeToNewsletter()">Subscribe</button>
	    </div>
	  </div>
	  <div class="explore-column">
	    <h3>Explore</h3>
	    <ul class="explore">
	      <li><a routerLink="/ski-resorts">Ski Resorts</a></li>
	      <li><a routerLink="/lift-tickets">Lift Tickets</a></li>
	      <li><a routerLink="/ski-resorts">Lesson Packages</a></li>
	      <li><a routerLink="/lift-tickets">Hotel Packages</a></li>
	      <!-- Add more links as needed -->
	    </ul>
	  </div>
	  <div class="explored-column">
		<h3>Explore</h3>
		<ul class="explore">
		  <li><a routerLink="/ski-resorts">equipment rentals</a></li>
		  <li><a routerLink="/lift-tickets">events</a></li>
		  <li><a routerLink="/ski-resorts">Military passes</a></li>
		  <li><a routerLink="/lift-tickets">resorts</a></li>
		  <!-- Add more links as needed -->
		</ul>
	      </div>
	</div>
	<div class="social-media-links">
	  <a routerLink="/facebook"><img src="facebook-logo.png" alt="Facebook"></a>
	  <a routerLink="/youtube"><img src="youtube-logo.png" alt="YouTube"></a>
	  <a routerLink="/twitter"><img src="twitter-logo.png" alt="Twitter"></a>
	  <a routerLink="/instagram"><img src="instagram-logo.png" alt="Instagram"></a>
	</div>
      </footer>
      
      