<footer class="footer">
	<div class="newsletter-section">
	  <div class="newsletter-input">
	    <input type="email" placeholder="Subscribe to our newsletter">
	    <button class="subscribe-button" (click)="subscribeToNewsletter()">Subscribe</button>
	  </div>
	</div>
	<div class="footer-links">
	  <div class="footer-column">
	    <h3>Explore</h3>
	    <ul>
	      <li><a routerLink="/ski-resorts">Ski Resorts</a></li>
	      <li><a routerLink="/lift-tickets">Lift Tickets</a></li>
	      <!-- Add more links as needed -->
	    </ul>
	  </div>
	  <div class="footer-column">
	    <h3>Connect</h3>
	    <ul>
	      <li><a routerLink="/facebook"><img src="facebook-logo.png" alt="Facebook"></a></li>
	      <li><a routerLink="/youtube"><img src="youtube-logo.png" alt="YouTube"></a></li>
	      <li><a routerLink="/twitter"><img src="twitter-logo.png" alt="Twitter"></a></li>
	      <li><a routerLink="/instagram"><img src="instagram-logo.png" alt="Instagram"></a></li>
	    </ul>
	  </div>
	</div>
      </footer>
      
