.footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
      }
      
      .footer-content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
      }
      
      .newsletter-column,
      .explore-column {
	flex: 1;
	margin-right: 20px;
      }
      
      .newsletter-column {
	margin-right: 0; /* Remove margin on the last column */
      }
      
      .newsletter-input {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 40px;
      }
      
      .newsletter-input input {
	padding: 10px;
	border: 1px solid #fc9403;
	border-radius: 5px;
	width: 100%;
	margin-right: 10px;
      }
      
      .subscribe-button {
	background-color: #fc9403;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
      }
      
      .explore-column {
	display: flex;
	flex-direction: column; /* Change to column layout */
	align-items: center; /* Center-align the content */
      }
      
      .explore-column h3 {
	font-size: 1.2rem;
	margin-bottom: 10px; /* Add space between title and links */
      }
      
      .explore-column ul {
	list-style: none;
	padding: 0;
      }
      
      .explore-column li {
	margin: 5px 0;
      }
      
      .explore-column a {
	text-decoration: none;
	color: #fff;
      }
      
      .social-media-links {
	text-align: center; /* Center the social media links */
      }
      
      .social-media-links a {
	margin: 0 10px;
	display: inline-block;
      }
      