

<nav class="navbar">
	<div class="container">
	  <div class="navbar-header">
	    <button class="navbar-toggler" (click)="toggleMenu()">
	      <i class="fa fa-bars"></i>
	    </button>
	    <a routerLink="/">Eagle Pass</a>
	  </div>
	  <ul class="nav-list" [ngClass]="{ 'show-menu': isMenuOpen }">
	    <li class="nav-item"><a routerLink="/">Home</a></li>
	    <li class="nav-item"><a routerLink="/ski-resorts">Ski Resorts</a></li>
	    <li class="nav-item"><a routerLink="/lift-tickets">Lift Tickets</a></li>
	    <li class="nav-item"><a routerLink="/snow-conditions">Snow Conditions</a></li>
	    <li class="nav-item"><a routerLink="/lessons">Ski Lessons</a></li>
	    <li class="nav-item"><a routerLink="/equipment">Equipment</a></li>
	    <li class="nav-item"><a routerLink="/events">Events</a></li>
	    <li class="nav-item"><a routerLink="/contact">Contact</a></li>
	    <li class="nav-item"><a routerLink="/cart">Cart</a></li>
	  </ul>
	</div>
      </nav>
      